/* Set the background image with a placeholder */
body {
  background-color: black;
}
* {
  font-family: "Plus Jakarta Sans";
}
::-webkit-scrollbar {
  width: 0.1vw;
}
@media (max-width: 767px) {
  ::-webkit-scrollbar {
    width: 0;
  }
}
::-webkit-scrollbar-thumb {
  background-color: rgb(39, 39, 39);
  border-radius: 50px;
}
.nav-button {
  background-color: rgb(49, 49, 49);
}

::selection {
  background-color: #2cff92;
  color: #05160e;
}

.decision {
  background: url("https://images.unsplash.com/photo-1685777160346-6d1da0d6b428?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80");
  color: #d8f1ff;
  background-size: cover;
  background-position: center;
}
.decision:hover > .on-hover-line {
  opacity: 100%;
  transition: opacity 0.1s ease-in;
}
.container-box {
  background-color: black;
  overflow: hidden;
}

.column-box {
  background-image: url("https://images.unsplash.com/photo-1575141251061-c8259641ed63?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}

.column-box .column-text {
  position: relative;
}
.column-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

@media (min-width: 1024px) {
  .delete {
    display: none;
  }
  .option:hover .delete {
    display: block;
  }
}
.daily-decisions,
.another-decision {
  background-color: #165452;
}

.choose-option {
  background-color: #853939;
}
.edit-button,
.settings-button,
.option {
  background-color: #05160e;
  color: #c7ffe2;
}
.svg {
  text-align: end;
  margin-top: 2vw;
  margin-right: 2vw;
  width: 2vw;
}

.navbar {
  border-radius: 3vh;
  border-width: 2px;
  border-color: white;
}

.navbar-links p {
  padding-left: 20px;
}

.logo {
  height: 35px;
  width: 35px;
  margin-right: 10px;
  border-radius: 3vh;
}

.new-decision,
.profile,
.save-decision {
  border-radius: 1.5vh;
}
